<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Detalle Persona</title>
</head>
<body>
    <h1>Detalle Persona</h1>
    <div>
        Id Persona: {{persona.id}}
    </div>
    <div>
        Nombre: {{persona.nombre}}
    </div>
    <div>
        Apellido: {{persona.apellido}}
    </div>
    <div>
        email: {{persona.email}}
    </div>
    <form action="{% url 'index' %}">
        <input type="submit" value="Inicio"/>
    </form>
</body>
</html>