<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Editar Persona</title>
</head>
<body>
    <form method="POST">
        <h1>Editar Persona</h1>
        <table>
            {{forma_persona}}
        </table>
        <button type="submit">Enviar</button>
        {% csrf_token %}
    </form>
    <form action="{% url 'index' %}">
        <input type="submit" value="Inicio"/>
    </form>
</body>
</html>