<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Detalle Domicilio</title>
</head>
<body>
    <h1>Detalle Domicilio</h1>
    <div>
        Id Domicilio: {{domicilio.id}}
    </div>
    <div>
        Nombre: {{domicilio.calle}}
    </div>
    <div>
        Apellido: {{domicilio.numero}}
    </div>
    <div>
        pais: {{domicilio.pais}}
    </div>
    <form action="{% url 'domicilios' %}">
        <input type="submit" value="Volver"/>
    </form>
</body>
</html>