<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Domicilios</title>
</head>
<body>
<h1>Sistema Administracion de Domicilios</h1>
<div>
    Número de domicilios: {{no_domicilios}}
</div>
<div>
    <a href="nuevo_domicilio">Agregar Domicilio</a>
</div>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Calle</th>
            <th>Numero</th>
            <th>Pais</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for domicilio in domicilios %}
        <tr>
            <td>{{domicilio.id}}</td>
            <td>{{domicilio.calle}}</td>
            <td>{{domicilio.numero}}</td>
            <td>{{domicilio.pais}}</td>
            <td><a href="detalle_domicilio/{{domicilio.id}}">Ver</a></td>
            <td><a href="editar_domicilio/{{domicilio.id}}">Editar</a></td>
            <td><a href="eliminar_domicilio/{{domicilio.id}}">Eliminar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'index' %}">
        <input type="submit" value="Inicio"/>
    </form>
</div>
</body>
</html>