<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Editar Domicilio</title>
</head>
<body>
    <form method="POST">
        <h1>Editar Domicilio</h1>
        <table>
            {{forma_domicilio}}
        </table>
        <button type="submit">Enviar</button>
        {% csrf_token %}
    </form>
    <form action="{% url 'domicilios' %}">
        <input type="submit" value="Volver"/>
    </form>
</body>
</html>